$colorPrimary: rgba(220, 5, 30, 1);
$heightToolbar: 56px;
$heightMain: calc(100% - #{$heightToolbar});

$sizeTableFixedElements: 30px;



@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 13px;
}
b {
  font-family: fontBold;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  height: $heightToolbar;
  background-color: $colorPrimary;

  .title {
    float: left;
    font-size: 24px;
    line-height: $heightToolbar;
    padding-left: 16px;
    color: white;
  }
}

.main {
  height: $heightMain;
}

$widthTableCell: 56px;
$widthTableCellFirst: 28px;
$heightTableCell: 30px;
$colorTableBorder: #dfdfdf;

.view-table {
  position: relative;
  height: 100%;
  overflow: auto;

  .table-wrap {
    height: 100%;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%;

    td, th {
      text-align: center;
      font-weight: normal;
      width: $widthTableCell;
      min-width: $widthTableCell;
      max-width: $widthTableCell;
      height: $heightTableCell;
      border-right: 1px solid $colorTableBorder;
    }

    td {
      background-color: white;
    }

    tr {
      border-bottom: 1px solid $colorTableBorder;

      td:first-child,
      th:first-child {
        width: $widthTableCellFirst;
        min-width: $widthTableCellFirst;
        max-width: $widthTableCellFirst;
        background-color: $colorTableBorder;
      }
    }

    thead {
      background-color: $colorTableBorder;

      tr {
        display: block;
        position: relative;
      }
    }

    tbody {
      display: block;
      overflow: auto;
      width: 100%;
      height: 100%;
    }
  }
}

