$colorPrimary: rgba(220, 5, 30, 1);
$heightToolbar: 56px;
$heightMain: calc(100% - #{$heightToolbar});

$sizeTableFixedElements: 30px;



@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 13px;
}
b {
  font-family: fontBold;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  height: $heightToolbar;
  background-color: $colorPrimary;

  .title {
    float: left;
    font-size: 24px;
    line-height: $heightToolbar;
    padding-left: 16px;
    color: white;
  }
}

.main {
  height: $heightMain;
}

.view-table {
  position: relative;
  //white-space: nowrap;
  height: 100%;

  .structure-top {
    height: $sizeTableFixedElements;
    background: #dfdfdf;
  }
  .structure-table {
    position: relative;
    height: calc(100% - #{$sizeTableFixedElements});
  }
  .structure-left {
    float: left;
    height: 100%;
    width: 30px;
    background: #dfdfdf;
    overflow: hidden;

    .column {
      position: relative;
    }
  }
  .structure-main {
    float: left;
    width: calc(100% - #{$sizeTableFixedElements});
    height: 100%;
    overflow: auto;
  }

  .row {
    clear: both;
    white-space: nowrap;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    position: relative;

    &.in-header {
      overflow: hidden;
      padding-left: $sizeTableFixedElements;
    }

    &.in-column {
      overflow: hidden;
      width: $sizeTableFixedElements;
      height: calc(1px + #{$sizeTableFixedElements});
      line-height: $sizeTableFixedElements;
      text-align: center;
    }
  }
  .cell {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: $sizeTableFixedElements;
    line-height: $sizeTableFixedElements;
    text-align: center;
    border-right: 1px solid #dfdfdf;
  }
}

